*~
odin-1.17.10/ODINBOOT/
odin-1.17.10/config.log
odin-1.17.10/config.status
odin-1.17.10/pkg/config/boot.sh
odin-1.17.10/pkg/config/config.dg
odin-1.17.10/pkg/config/version
odin-1.17.10/pkg/odin/boot/client-yacc.o
odin-1.17.10/pkg/odin/boot/default-dg.o
odin-1.17.10/pkg/odin/boot/fsys-yacc.o
odin-1.17.10/pkg/odin/boot/stub-in.o
odin-1.17.10/pkg/odin/boot/stub-out.o
odin-1.17.10/pkg/odin/editline/complete.o
odin-1.17.10/pkg/odin/editline/editline.o
odin-1.17.10/pkg/odin/editline/sysunix.o
odin-1.17.10/pkg/odin/if-bcast.o
odin-1.17.10/pkg/odin/if-build.o
odin-1.17.10/pkg/odin/if-candrv.o
odin-1.17.10/pkg/odin/if-client.o
odin-1.17.10/pkg/odin/if-cmd.o
odin-1.17.10/pkg/odin/if-depend.o
odin-1.17.10/pkg/odin/if-dir.o
odin-1.17.10/pkg/odin/if-drvgrf.o
odin-1.17.10/pkg/odin/if-drvpth.o
odin-1.17.10/pkg/odin/if-drvspc.o
odin-1.17.10/pkg/odin/if-edg.o
odin-1.17.10/pkg/odin/if-env.o
odin-1.17.10/pkg/odin/if-err.o
odin-1.17.10/pkg/odin/if-exec.o
odin-1.17.10/pkg/odin/if-execint.o
odin-1.17.10/pkg/odin/if-execspc.o
odin-1.17.10/pkg/odin/if-fhacc.o
odin-1.17.10/pkg/odin/if-fhnam.o
odin-1.17.10/pkg/odin/if-fhnew.o
odin-1.17.10/pkg/odin/if-fhsrc.o
odin-1.17.10/pkg/odin/if-fhstat.o
odin-1.17.10/pkg/odin/if-file.o
odin-1.17.10/pkg/odin/if-filelm.o
odin-1.17.10/pkg/odin/if-filhdr.o
odin-1.17.10/pkg/odin/if-filinp.o
odin-1.17.10/pkg/odin/if-filprm.o
odin-1.17.10/pkg/odin/if-filpval.o
odin-1.17.10/pkg/odin/if-filtyp.o
odin-1.17.10/pkg/odin/if-ft.o
odin-1.17.10/pkg/odin/if-get.o
odin-1.17.10/pkg/odin/if-help.o
odin-1.17.10/pkg/odin/if-hook.o
odin-1.17.10/pkg/odin/if-info.o
odin-1.17.10/pkg/odin/if-io.o
odin-1.17.10/pkg/odin/if-ipc.o
odin-1.17.10/pkg/odin/if-lex.o
odin-1.17.10/pkg/odin/if-lvl.o
odin-1.17.10/pkg/odin/if-main.o
odin-1.17.10/pkg/odin/if-nod.o
odin-1.17.10/pkg/odin/if-oclex.o
odin-1.17.10/pkg/odin/if-pfilhdr.o
odin-1.17.10/pkg/odin/if-prmtyp.o
odin-1.17.10/pkg/odin/if-rbs.o
odin-1.17.10/pkg/odin/if-symbol.o
odin-1.17.10/pkg/odin/if-sysdep.o
odin-1.17.10/pkg/odin/if-system.o
odin-1.17.10/pkg/odin/if-systools.o
odin-1.17.10/pkg/odin/if-update.o
odin-1.17.10/pkg/odin/if-util.o
odin-1.17.10/pkg/odin/if-var.o
odin-1.17.10/pkg/odin/if-yylex.o
odin-1.17.10/pkg/odin/inc/config.hh
odin-1.17.10/pkg/odin/odin.exe
odin-test/target with spaces
odin-test/x
